body {
  .top-banner.lazyloaded {
    margin-top: 2px;
    background-image: url('../../assets/image/top/lazyloaded.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #top-banner {
    margin-top: 2px;
    background-image: url('../../assets/image/top/top-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    #top-banner-text {
      color: #fff;
      p.lead {
        margin-top: 35px;
        color: #fff;
        font-size: 15px;
        background: #000;
        border-radius: 10px;
        width: 40%;
        padding: 10px 20px;
        opacity: 0.6;
        padding: 15px;
        @media (max-width: 575px) { width: 100%; }
        @media (min-width: 576px) and (max-width: 768px) { width: 80%; }
        @media (min-width: 769px) and (max-width: 992px) { width: 60%; }
        @media (min-width: 993px) and (max-width: 1200px) { width: 50%; }
        @media (min-width: 1201px) { width: 40%; }
      }
    }
    
    @media (max-width: 575px) {
      height: 300px;
      #top-banner-text {
        
        h1 {
          display: none;
        }
        .btn {
          display: none;
        }
      }
    }
    @media (min-width: 576px) {
      height: 500px;
      #top-banner-text {
        display: block;
        h1 {
          color: #fff;
          font-size: 3em;
          letter-spacing: 2px;
          word-wrap: break-word;
        }
      }
    }
  }
  background: #fff;
  .demo {
    font-family: sans-serif;
    border: 1px solid #eee;
    border-radius: 2px;
    padding: 20px 30px;
    margin-top: 1em;
    margin-bottom: 40px;
    user-select: none;
    overflow-x: auto;
  }
  main {
    // margin-top: 50px;
    .block2 {
      margin-top: 30px;
    }
    .text-block {
      line-height: 35px;
      color: #444444;
    }
    .twitter {
      margin-top: 50px;
      .twitter-block-1 {
        .statistics {
          padding-top:30px;
          padding-bottom: 30px;
          background: #f5f5f5;
          border-radius: 10px;
          .statistics_name {
            font-size: 13px;
            letter-spacing: 1px;
          }
          .statistics_value {
            font-size: 72px;
            letter-spacing: 4px;
          }
        }
      }
      .twitter-block-2 {
        // background: #f5f5f5;
        ul {
          li:first-child {
            list-style: none;
            font-size: 36px;
            .date {
              margin-top: 5px;
              font-size: 13px;
              color: #888;
              margin-left: 10px;
            }
          }
          li {
            list-style: none;
            font-size: 17px;
            margin-bottom: 30px;
            .date {
              margin-top: 5px;
              font-size: 13px;
              color: #888;
              margin-left: 10px;
            }
          }
        }
      }
     }

    #twitter {
      margin-top: 50px;  
      #twitter-block {
        .image-frame {
          float: left;
          margin-right: 20px !important;
          width: 100px;
          height: 100px;
          border-radius: 50%;
          overflow: hidden;
          float: left;
          margin-right: 7px;
          position: relative;
          border: 1px solid #666;
          img {
            width: 100px;
            height: auto;
            z-index: 10000000000;
            position: absolute;
            top: 0;
            left: -25px;
            right: -25px;
            bottom: 0;
            margin: auto;
          }
        }
        ul {
          li:first-child {
            font-size: 23px;
            .date {
              font-size: 13px;
              text-align: right;
            }
          }
          li {
            list-style: none;
            font-size: 17px;
            margin-bottom: 18px;
            .date {
              font-size: 13px;
              text-align: right;
            }
          }
        }
        // p {
        //   // margin-left: 30px;
        //   letter-spacing: 1px;
        //   font-size: 20px;
        //   color: #555;
        //   line-height: 40px;
        //   .tw-icon {
        //     img {
        //       width: 28px;

        //     }
        //   }
        // }
      }
    }
  }
  .subfooter {
    margin-top: 100px;
  }
}


