.DS_Store

# docker
mysql/*
php7.2/*

# app
html/.env
html/vendor
html/config.php
html/tw.txt
your.log
html/batch/tweets_newest.json
html/batch/tweets_numbers.json
html/batch/tweets_update.log


# wordpress
html/note/.htaccess
html/note/wp-config.php
html/note/wp-content/languages/*
html/note/wp-content/languages/plugins/*
html/note/wp-content/plugins/*
html/note/wp-content/uploads/*
