@import "_bootstrap";

/* color */

$main-gray-color: #6c757d;
$main-red-color: #880000;

/*
bootstrap5
xs <576px 
sm ≥576px
md ≥768px
lg ≥992px
xl ≥1200px
xxl ≥1400px
*/

/* break point */
@media (max-width: 575px) {}
@media (min-width: 576px) and (max-width: 768px) {}
@media (min-width: 769px) and (max-width: 992px) {}
@media (min-width: 993px) and (max-width: 1200px) {}
@media (min-width: 1201px) {}


body{
  font-family: 'Noto Sans JP', sans-serif;
  font-display: swap;
  header {
    div.break-point-bar {
      height: 5px;
      /* sp/pd */
      @media (max-width: 575px) { background: #000; }
      @media (min-width: 576px) and (max-width: 768px) { background: #fff; }
      @media (min-width: 769px) and (max-width: 992px) { background: #808080; }
      /*pc*/
      @media (min-width: 993px) and (max-width: 1200px) { background: #d3d3d3; }
      @media (min-width: 1201px) { background: #880000; }
    }
    nav.bg-light {
      background-color: #fff !important;
      div {
        a {
          h1.site-title {
            font-size: 1.25rem;
            margin-bottom: 2px;
          }
        }
        form.pc {
          /* sp/pd */
          @media (max-width: 575px) { display: none !important; }
          @media (min-width: 576px) and (max-width: 768px) { display:none !important; }
          @media (min-width: 769px) and (max-width: 992px) { display:none !important; }
          /*pc*/
          @media (min-width: 993px) and (max-width: 1200px) { display:block; }
          @media (min-width: 1201px) { display:block; }
        }
        
        form.pc {
          button.btn {
            border-radius: 0px 3px 3px 0px;
            margin-left: -17px;
            svg {
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
  main {
    form.sp {
      /* sp/pd */
      @media (max-width: 575px) { display:block; }
      @media (min-width: 576px) and (max-width: 768px) { display:block; }
      @media (min-width: 769px) and (max-width: 992px) { display:block; }
      /*pc*/
      @media (min-width: 993px) and (max-width: 1200px) { display: none !important; }
      @media (min-width: 1201px) { display: none !important; }
    }
    form.sp {
      margin: 0px 10px;
      width: auto;
      button.btn {
        border-radius: 0px 3px 3px 0px;
        margin-left: -17px;
        svg {
          margin-bottom: 4px;
        }
      }
    }
    .search-form {
      margin-top: 20px;
    }
    /* Google search in site */
    .search-form {
      margin-top: 20px;
      #___gcse_0 {
        background: #c1c1c1;
        #gsc-iw-id1 {
          background: #00f;
        }
      }
    }
    .page-header {
	    .breadcrumb {
        @media (max-width: 575px) {
          margin-top: 50px;
        }
        color: #666;
        font-size: 13px;
        .page-out {
          a:link, a:visited {
            text-decoration: none;
            color: #4682b4;
          }
          a:hover, a:active {
            text-decoration: underline;
          }
        }
        .page-scope {
          a:link, a:visited {
            text-decoration: none;
            color: #4682b4;
          }
          a:hover, a:active {
            text-decoration: underline;
          }
        }
      }
      h2 {
        color: #333;
        letter-spacing: 1px;
      }
      .page-header-text {
        font-size: 13px;
        color: #666;
      }
    }

    // TOPページのみ
    @media (max-width: 575px) {
      .top-article-block-masonry {
        display:block;
        margin-top: 70px;
        .top-article {
          line-height: 30px !important;
          border-bottom: 1px solid #c1c1c1;
          line-height: 30px !important;
          margin: 30px 0px 30px 0px;
          .top-article-cell {
            font-size: 15px;
            margin-left: 10px;
            margin-right: 10px;
            color: #555;
            .top-article-text {
              h2 {
                font-size: 20px;
                line-height: 26px;
                overflow: hidden;
                a:link, a:visited {
                  color: #333;
                  text-decoration: none;
                }
                .photo-frame {
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                  overflow: hidden;
                  float: left;
                  margin-right: 7px;
                  position: relative;
                  border: 1px solid #666;
                  .top-article-cell-photo {
                    width: 60px;
                    height: auto;
                    z-index: 10000000000;
                    position: absolute;
                    top: 0;
                    left: -25px;
                    right: -25px;
                    bottom: 0;
                    margin: auto;
                  }
                }
              }
              p {
                word-wrap: break-word;
              }
            }
          }
        }
      }
    }
    @media (min-width: 576px) and (max-width: 768px) {
      .top-article-block-masonry {
        display: block;
        margin-top: 70px;
        .top-article {
          font-size: 14px;
          line-height: 23px;
          .top-article-cell {
            margin-bottom: 20px;
            // overflow: hidden;
            // font-size: 14px;
            border-bottom: 1px solid #c1c1c1;
            .top-article-text {
              h2 {
                font-size: 19px;
                line-height: 26px;
                overflow: hidden;
                a:link, a:visited {
                  color: #333;
                  text-decoration: none;
                }
                .photo-frame {
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                  overflow: hidden;
                  float: left;
                  margin-right: 7px;
                  position: relative;
                  border: 1px solid #666;
                  .top-article-cell-photo {
                    width: 60px;
                    height: auto;
                    z-index: 10000000000;
                    position: absolute;
                    top: 0;
                    left: -25px;
                    right: -25px;
                    bottom: 0;
                    margin: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
    @media (min-width: 769px) {
      .top-article-block-masonry {
        display: block;
        margin-top: 70px;
        .top-article {
          border: 1px solid #c1c1c1;
          border-radius: 3px;
          line-height: 30px !important;
          .top-article-cell {
            overflow: hidden;
            font-size: 14px;
            .top-article-text {
              margin: 5px;
              h2 {
                font-size: 18px;
                line-height: 26px;
                overflow: hidden;
                a:link, a:visited {
                  color: #333;
                  text-decoration: none;
                }
                .photo-frame {
                  width: 60px;
                  height: 60px;
                  border-radius: 50%;
                  overflow: hidden;
                  float: left;
                  margin-right: 7px;
                  position: relative;
                  border: 1px solid #666;
                  .top-article-cell-photo {
                    width: 60px;
                    height: auto;
                    z-index: 10000000000;
                    position: absolute;
                    top: 0;
                    left: -25px;
                    right: -25px;
                    bottom: 0;
                    margin: auto;
                  }
                }
              }
              p {
                word-wrap: break-word;
              }
            }
          }
        }
        .grid-item {
          margin-right: 15px;
          margin-bottom: 15px;
          display: inline-block;
          width: 300px;
          word-wrap: break-word;
          border: 1px solid #c1c1c1;
          padding: 10px 10px;
        }
      }
    }//PC


    // @media (min-width: 576px) and (max-width: 768px) { display:block; }
    // ここからいらない
    .top-article-block {
      margin-top: 70px;
      .top-article {
        // margin: -7px;
        margin-bottom: 18px;
        
        .top-article-cell {
          overflow: hidden;
          font-size: 14px;
          
          // width: 188px;
          /* break point */
          @media (max-width: 575px) { height: auto; }
          @media (min-width: 576px) { height: auto; }
          margin: 3px;
          // background: #c1c1c1;
          
          border: 1px solid #c1c1c1;
          border-radius: 3px;
          .top-article-text {
            overflow: hidden;
            padding: 13px;
            .photo-frame {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              overflow: hidden;
              float: left;
              margin-right: 7px;
              position: relative;
              border: 1px solid #666;
              .top-article-cell-photo {
                width: 100px;
                height: auto;
                z-index: 10000000000;
                position: absolute;
                top: 0;
                left: -25px;
                right: -25px;
                bottom: 0;
                margin: auto;
              }
            }

            h2 {
              font-size: 18px;
              line-height: 26px;
              overflow: hidden;
              a:link, a:visited {
                color: #333;
                text-decoration: none;
              }
            }
            p {
              margin-top: -3px;
              word-wrap: break-word;
              line-height: 30px;
              color: #666;
            }
          }
        }
      }
    }
    // ここまでいらない

    .cat-tag-index {
      margin: 50px 0px;
      .top-categories {
        li {
          display: inline-block;
          border: 1px solid #aaa;
          padding: 0px 7px 3px 7px;
          border-radius: 3px;
          margin-right: 10px;
          margin-bottom: 10px;
          background: #aaa;
          a:link, a:visited {
            text-decoration: none;
            font-size: 13px;
            letter-spacing: 2px;
            color: #fff;
          }
          a:hover {
            color: #c1c1c1;
          }
        }
      }
      .top-tags {
        li {
          display: inline-block;
          border: 1px solid $main-red-color;
          padding: 0px 7px 3px 7px;
          border-radius: 3px;
          margin-right: 10px;
          margin-bottom: 10px;
          background: $main-red-color;
          a:link, a:visited {
            text-decoration: none;
            font-size: 13px;
            color: #fff;
            letter-spacing: 2px;
          }
          a:hover {
            color: #c1c1c1;
          }
        }
      }
    }
    /* topページ以外 */
    .article-block {
      word-wrap: break-word;
      margin-top: 70px;
      .main {
        .article-cell {
          // background: #c1c1c1;
          margin-bottom: 40px;
          .photo-frame {
            float: left;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 7px;
            position: relative;
            border: 1px solid #666;
            .top-article-cell-photo {
              width: 160px;
              height: auto;
              z-index: 10000000000;
              position: absolute;
              top: 0;
              left: -25px;
              right: -25px;
              bottom: 0;
              margin: auto;
            }
          }
          h2 {
            font-size: 18px;
            line-height: 26px;
            overflow: hidden;
            a:link, a:visited {
              color: #333;
              text-decoration: none;
            }
          }
          p {
            font-size: 14px;
            word-wrap: break-word;
            line-height: 30px;
            color: #666;
          }
        }
      }
      .sidebar {
        // sp
        @media (max-width: 575px) {
          margin-top: 50px;
          background: #6c757d;
          padding: 20px 23px;
          border-radius: 5px;
          .widget {
            // margin: 20px 0;
            list-style: none;
            margin-bottom: 20px;
            h2.widgettitle {
              color: #fff;
              font-size: 19px;
              line-height: 26px;
              overflow: hidden;
            }
            ul {
              li {
                list-style: none;
                line-height: 28px;
                font-size: 14px;
                margin-left: -10px;
                a:link, a:visited {
                  color: #fff;
                  text-decoration: none;
                }
                a:active, a:hover {
                  color: #fff;
                  text-decoration: underline;
                }
              }
            }
            .tagcloud {
              list-style: circle;
              color: #666;
              line-height: 28px;
              a:link, a:visited {
                color: #fff;
                text-decoration: none;
              }
              a:active, a:hover {
                color: #fff;
                text-decoration: underline;
              }
            }
          }
        }
        // tablet pc
        @media (min-width: 576px) {
          .widget {
            list-style: none;
            h2.widgettitle {
              font-size: 18px;
              line-height: 26px;
              overflow: hidden;
            }
            ul {
              li {
                list-style: none;
                // list-style-image : url("../img/icons/caret-down.svg");
                // /note/wp-content/themes/uglyhacks/assets/img/icons/card-list.svg 
                background-image: url("../img/icons/check.svg");
                background-repeat: no-repeat;
                background-position: left 7px;
                // line-height: 30px;
                padding-left: 21px;
                color: #666;
                line-height: 28px;
                font-size: 14px;
                margin-left: -32px;
                a:link, a:visited {
                  color: #666;
                  text-decoration: none;
                }
                a:active, a:hover {
                  color: #333;
                  text-decoration: underline;
                }
              }
            }
            .tagcloud {
              list-style: circle;
              color: #666;
              line-height: 28px;
              a:link, a:visited {
                color: #666;
                text-decoration: none;
              }
              a:active, a:hover {
                color: #333;
                text-decoration: underline;
              }
            }
          }
        }
      }
      .single-article {
        margin-right: 20px;
        // background: #c1c1c1;
        h2 {
          font-size: 26px;
          line-height: 42px;
        }
        /* blog text */
        .single-article-text {
          margin-bottom: 20px;
          margin-top: 100px;
          color: #343;
          pre {
            border: 1px solid #dcdcdc;
            background: #f5f5f5;
            font-size: 13px;
            padding: 11px 17px;
            border-radius: 3px;
            white-space: pre-wrap ;
            
            code {
              display: inline-block;
              border: none;
            }
          }
          blockquote {
            border-left: 4px solid #dcdcdc;
            padding: 3px 1px 0px 23px;
            color: #666;
            font-style: italic;
          }
          h1 { font-size: 23px; margin-bottom: 20px; line-height: 36px;}
          h2 { font-size: 21px; margin-bottom: 15px; line-height: 30px;}
          h3 { font-size: 19px; margin-bottom: 10px; line-height: 28px;}
          h4 { font-size: 17px; margin-bottom: 7px; line-height: 26px;}
          h5 { font-size: 16px; line-height: 26px;}
          h6 { font-size: 15px; line-height: 26px;}
          h1:nth-child(n+1) { font-size: 23px; margin-bottom: 20px; margin-top:45px; line-height: 36px;}
          h2:nth-child(n+1) { font-size: 21px; margin-bottom: 15px; margin-top:43px; line-height: 30px;}
          h3:nth-child(n+1) { font-size: 19px; margin-bottom: 10px; margin-top:30px; line-height: 28px;}
          h4:nth-child(n+1) { font-size: 17px; margin-bottom: 7px; margin-top:28px; line-height: 26px;}
          h5:nth-child(n+1) { font-size: 16px; margin-top:17px; line-height: 26px;}
          h6:nth-child(n+1) { font-size: 15px; margin-top:17px; line-height: 26px;}

          font-size: 14px;
          line-height: 27px;

          p {
            font-size: 14px;
            code {
              color: #880000;
              word-wrap: break-word;
              border: 1px solid #880000;
              padding: 2px 6px;
              margin: 0px 2px;
              border-radius: 3px;
            }
            img {
              width: 100%;
              margin: 10px 0;
            }
            strong {
              background: linear-gradient(transparent 75%, #c1e0ff 75%);
              font-weight: blod;
              // color: #666;
            }
            em {
              background: linear-gradient(transparent 75%, #c1e0ff 75%);
              font-weight: normal;
              font-style: normal;
            }
            a:link, a:visited {
              color: #4682b4;
              text-decoration: none;
            }
            a:active, a:hover {
              color: #2d75af;
              text-decoration: underline;
            }
          }
          #imageblock {
            float: left;
            margin-right: 20px;
            a {
              img {
                border: 1px solid #ddd;
              }
            }
          }
          table {
            border-collapse: collapse;
            // background: #fefefe;
            border-top: 1px solid #888;
            border-right: 1px solid #888;
            th {
              background: #f5f5f5;
              border-left: 1px solid #888;
              border-bottom: 1px solid #888;
              font-weight: normal;
              padding: 4px 12px;
            }
            td {
              border-left: 1px solid #888;
              border-bottom: 1px solid #888;
              padding: 4px 12px;
            }
          }
          ul {
            li {
              list-style: circle;
              a:link, a:visited {
                color: #4682b4;
                text-decoration: none;
              }
              a:active, a:hover {
                color: #2d75af;
                text-decoration: underline;
              }
            }
          }
          ol {
            li {
              a:link, a:visited {
                color: #4682b4;
                text-decoration: none;
              }
              a:active, a:hover {
                color: #2d75af;
                text-decoration: underline;
              }
            }
          }
        }
        .post_meta {
          .category {
            margin-bottom: -16px;
            .post-categories {
              margin-left: -32px;
              li {
                display: inline-block;
                border: 1px solid #aaa;
                padding: 0px 7px 3px 7px;
                border-radius: 3px;
                margin-right: 10px;
                margin-bottom: 10px;
                background: #aaa;
                a:link, a:visited {
                  text-decoration: none;
                  font-size: 13px;
                  letter-spacing: 2px;
                  color: #fff;
                }
                a:active, a:hover {
                  color: #c1c1c1;
                  text-decoration: none;
                }
              }
            }
          }
          .tags {
            .tag {
              a:link, a:visited {
                display: inline-block;
                border: 1px solid #880000;
                padding: 3px 7px 5px 7px;
                border-radius: 3px;
                margin-right: 10px;
                margin-bottom: 10px;
                background: #880000;
                text-decoration: none;
                font-size: 13px;
                color: #fff;
                letter-spacing: 2px;
              }
              a:active, a:hover {
                color: #c1c1c1;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
    /* search everything */
    .search-everything-highlight-color {
      background: linear-gradient(transparent 75%, #c1e0ff 75%) !important;
      // font-weight: bold;
    }
  }//main
  footer {
    margin: 0 auto;
    margin-top: 150px;
    height: 200px;
    color:  #fff;
    background: #6c757d;
    .copyright {
      letter-spacing: 1px;
      padding: 18px;
      font-size: 13px;
    }
  }
}



